<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-800 font-sans p-4">
  <div class="container mx-auto p-4 max-w-xl bg-white rounded-lg shadow-lg">
    <h1 class="text-4xl font-extrabold text-white mb-4 text-center shadow-lg px-4 py-4 bg-gray-800 rounded">動画素材館</h1>
    <h4 class="text-xl font-semibold mb-6 text-center text-gray-700">あなたは {{ nickname }}</h4>
    
    <div class="flex justify-center space-x-4 mb-8">
      <a href="{{ url_for('signup') }}" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 transition">Signup</a>
      <a href="{{ url_for('login') }}" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition">Login</a>
      <a href="{{ url_for('logout') }}" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 transition">Logout</a>
      <a href="{{ url_for('superuser') }}" class="bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-600 transition">管理者としてログイン</a>
    </div>

    <div class="mb-4">
      {% for page in pages %}
        {% if loop.first %}
          <a href="{{ url_for('view_page', page_id=page.id) }}" class="block bg-blue-400 text-white px-5 py-3 mb-2 rounded-lg hover:bg-blue-500 transition duration-300 ease-in-out shadow">{{ page.title }}</a>
        {% else %}
          <a href="{{ url_for('view_page', page_id=page.id) }}" class="block bg-gray-300 text-gray-800 px-5 py-3 rounded-lg hover:bg-gray-400 transition duration-300 ease-in-out shadow mb-2">{{ page.id }} : {{ page.title }}</a>
        {% endif %}
      {% endfor %}
    </div>

    {% if new_page_true_false %}
      <div class="text-center mt-4">
        <a href="{{ url_for('new_page') }}" class="bg-purple-500 text-white px-4 py-2 rounded hover:bg-purple-600 transition">New Page</a>
      </div>
    {% endif %}
  </div>
</body>
</html>
