<!DOCTYPE html>
<html>
<head>
  <title>動画素材館</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <a href="{{ url_for('home') }}">Back to Home</a>
  <h4>あなたは {{ nickname }} </h4>
  <!--現在までの動画を表示-->
  <h1 class="red-text">ページID : {{ page.id }}</h1>
  <h1 class="blue-text">ページタイトル : {{ page.title }}</h1>
  <div>
    {{page_title_explanation_change | safe}}
  </div>
  <div>
    {{page_explanation | safe}}
  </div>
  <div>
    {{upload_movie | safe}}
  </div>
  <div>
    {{  delete_movie | safe}}
  </div>
  <div class="video-grid">
    {% for movie in movies %}
    <div class="video-item">
        {% if movie.content.endswith('.mp4') %}
            <video controls>
                <source src="{{ url_for('download_file', filename=movie.content) }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        {% elif movie.content.endswith('.jpg') or movie.content.endswith('.png') %}
            <img src="{{ url_for('download_file', filename=movie.content) }}">
        {% endif %}
        <p>ID: {{ movie.id }} / タイトル: {{ movie.title }}</p>
        <p>コメント:{{ movie.comment }}</p>
    </div>
    {% endfor %}
  </div>
  <!--コメント-->
  <p>=====================================================================================================================</p>
  <h1 class="green-text">コメント</h1>
  <ul>
    {% for nickname, comment in nicknames_with_comments %}
      <li>
        <p>コメントID: {{ comment.id }} / 時間: {{ comment.time }} / ニックネーム: {{ nickname }} ＞<br> {{ comment.content | safe }}</p>
      </li>
    {% endfor %}
  </ul>
  <!--このBlogに対して新しくPOSTする-->
  <form method="POST">
    <label for="comment">Create Comment</label>
    <textarea id="comment" class="comment_form" name="comment" rows="10" required></textarea>
    <br>
    <input type="submit" value="Create Comment">
  </form>
  <br>
  <br>
  <form method="POST">
    <label for="delete_comment_id">Delete Comment（削除したいコメントIDを記入してください）<br>※自分のコメントのみ削除できます</label><br>
    <input type="text" id="delete_comment_id" name="delete_comment_id" required>
    <br>
    <input type="submit" value="Delete Comment">
  </form>
  <p class="red-text">{{ message_for_delete_comment }}</p>
</body>
</html>

